#menu{
	height:5vh;
	width:100%;
	background-color:#ddd;
	border:1px solid black;
}
.dropdown-toggle{
	height:100%;
}
.dropdown-menu{
	padding:0px;
}
.dropdown-item{
	margin:0px;
}

#drawDiv{
	height:65vh;
	width:100%;
	padding:10px;
	overflow: scroll;
}

#userInterface{
	height:20vh;
	width:100%;
	background-color:#aaa;
	margin:0px;
	padding:0px;
	overflow-x:hidden;
	overflow-y:hidden;
}
#userInterface div{
	height:100%;
	float:left;
	margin:0px;
	padding:10px;
	border:1px solid black;
	border-right:0px;
}
#ui-durations{
	width:25vw;
}
#ui-durations button{
	height:25%;
	width:50%;
	float:left;
}
#ui-measure-info{
	width: 30vw;
}
#ui-measure-buttons{
	padding:0px;
	width:40vw;
}
#ui-measure-buttons *{
	width:49%;
	height:33%;
}
/*#ui-track-panel{
	position:absolute;
	bottom:0px;
	left: 95vw;
	height:inherit !important;
	width:100vw;
	padding:0px !important;
	transition: left .5s;
	background-color:#0f0;
}
/*TODO: only move it over enough to diplay its contents*
.active{
	left:0px !important;
}
#ui-track-collapse{
	height:100%;
	width:5vw;
	background-color:#f00;
}
#ui-track-panel div{
	float:left;
	border:0px;
}*/
#ui-track-edit{
	width: 30vw;
}
#ui-track-edit p{
	margin-bottom: 0px;
}
#ui-track-strings{
	overflow-y:scroll;
	padding:0px !important;
	width:15vw;
	text-align:center;
	border-left:none !important;
	border-right:1px solid black !important;
}
#ui-track-strings div{
	border:none;
}
#ui-track-strings input{
	width:25px;
}
#ui-track-strings .track-string{
	float:none !important;
	height:auto;
	padding:2px;
}
