body{
	overflow:hidden;
}

.header{
	height:10vh;
	background-color:#f90;
}
.header img{
	position:fixed;
	height:8vh;
	top:1vh;
	left:5px;
}
#pageTitle{
	color:#000;
	margin:0px;
}
#myAccount{
	position:absolute;
	width:25%;
	height:inherit;
	top:0px;
	right:0px;
	overflow:show;
}
#myAccount p{
	margin:0px;
}

.sidebarWrapper{
	height:90vh;
	display:flex;
	width:100%;
	align-items: stretch;
	overflow:scroll;
}
#sidebar{
	width:175px;
	position:fixed;
	top:10vh;
	left:0px;
	height:100%;
	z-index:10000;/*why does bootstrap have such large z-indexes*/
	transition: margin-left .25s;
	display:flex;
	background-color:#aaf;
}
#sidebarCollapse{
	width:25px;
	background-color: #00a;
	height:100%;
}
#sidebarContent{
	float:left;
	height:100%;
	width:150px;
}
#sidebar.active{
	margin-left:-150px;
}
#nonSidebarContent{
	margin-left:25px;
	height:100%
}
