body{
	overflow:hidden;
}

.header{
	height:10vh;
	background-color:#f90;
}
.header img{
	position:fixed;
	height:8vh;
	top:1vh;
	left:5px;
}
#pageTitle{
	color:#000;
	margin:0px;
}
#myAccount{
	position:absolute;
	width:25%;
	height:inherit;
	top:0px;
	right:0px;
	overflow:show;
}
#myAccount p{
	margin:0px;
}

.sidebarWrapper{
	height:90vh;
	display:flex;
	width:100%;
	align-items: stretch;
	overflow:scroll;
}
#sidebar{
	width:175px;
	position:fixed;
	top:10vh;
	left:0px;
	height:100%;
	z-index:10000;/*why does bootstrap have such large z-indexes*/
	transition: margin-left .25s;
	display:flex;
	background-color:#fff;
}
#sidebarCollapse{
	width:25px;
	background-color: #00a;
	height:100%;
}
#sidebarContent{
	float:left;
	height:100%;
	width:150px;
}
#sidebar.active{
	margin-left:-150px;
}
#nonSidebarContent{
	margin-left:25px;
	height:100%
}

#ajaxStatus{
	opacity:0%;
	padding:.5vh;
	padding-left:10px;
	width:30%;
	transition: opacity .25s;
}
#ajaxStatus-loader{
	float:left;
	border-width:1vh;
	border-style: solid;
	border-color:#eee; /*light grey*/
	border-top-color: #3ae; /* Blue */
	border-radius: 50%;
	width: 4vh;
	height: 4vh;
	animation: spin 2s linear infinite;
	transition: border-width .5s,border-color .5s;
}
@keyframes spin{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}
#ajaxStatus-text{
	width:50%;
	margin:0px;
	float:left;
	margin-left:5px;
}